<div class="flexbox">
  <app-navbar></app-navbar>
  <div id="myBots">
    <h2>Мои боты</h2>
    <app-searchbots></app-searchbots>
    <div class="bots-slider">
      <app-botbadge></app-botbadge>
      <app-botbadge></app-botbadge>
      <app-botbadge></app-botbadge>
    </div>
  </div>
  <div id="allBots">
    <h2>Библиотека ботов</h2>
    <app-searchbots></app-searchbots>
    <div class="bots-slider">
      <app-botbadge></app-botbadge>
      <app-botbadge></app-botbadge>
      <app-botbadge></app-botbadge>
    </div>
  </div>
</div>

