<div class="new-post-page">
  <form [formGroup]="postForm" (submit)="onSubmit()" class="new-post-form">
    <div class="new-post-top">
      <h1>Новый пост</h1>
      <div class="new-post-buttons">
        <button type="submit" mat-raised-button color="primary">
          {{ publicationPlanned ? "Запланировать" : "Опубликовать" }}
        </button>
        <button type="type" class="more-button">
          <span>Ещё</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="new-post-content">
      <div class="new-post-editor">
        <div
          class="froala-editor"
          formControlName="editor"
          [froalaEditor]="options"
        ></div>
        <button
          [@moveExpandButton]="isOpen ? 'moved' : 'not-moved'"
          (click)="isOpen = !isOpen"
          type="button"
          class="expand-button"
        >
          <mat-icon [class.rotated]="isOpen">chevron_left</mat-icon>
        </button>
      </div>
      <app-publication-settings-panel
        (isFormValid)="settingsFormValid = $event"
        (publicationPlanned)="publicationPlanned = $event"
        formControlName="publicationSettings"
        [@openPanel]="isOpen ? 'open' : 'closed'"
      ></app-publication-settings-panel>
    </div>
  </form>
</div>
