:host {
  display: block;
  position: absolute;
  right: 0;
  width: 356px;
  background-color: #c4c4c4;
  top: 0;
  height: 100%;
  padding: 32px 34px;
  box-sizing: border-box;
}

.settings-panel {
}
