<div class="flexbox">
  <div class="medium-list">
    <div class="list-viewer-wrapper">
      <h2>Регистрация <br />Нового Человека</h2>
      <br />
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label for="firstName">Имя</mat-label>
            <input
              class="form-container__input"
              type="text"
              id="name"
              matInput
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">Введите ваше имя</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="lastName">Фамилия</mat-label>
            <input
              class="form-container__input"
              id="surname"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
              matInput
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">Введите вашу фамилию</div>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Введите Ваш email</mat-label>
            <input
              class="form-container__input"
              id="email"
              matInput
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Введите ваш email</div>
            </div>
          </mat-form-field>

          <mat-form-field
            class="form-container__password-form"
            appearance="outline"
          >
            <mat-label>Введите Ваш пароль</mat-label>
            <input
              class="form-container__input"
              id="password"
              matInput
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              [type]="hide ? 'password' : 'text'"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Введите Ваш пароль</div>
              <div *ngIf="f.password.errors.minlength">
                Минимальное количество знаков в пароле 6
              </div>
            </div>
            <button
              mat-button
              (click)="hide = !hide"
              matSuffix
              mat-icon-button
              aria-label="Clear"
            >
              <mat-icon class="hide-icon">{{
                hide ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <button
            mat-button
            type="submit"
            class="mat-raised-button mat-primary form-container__login-button"
            [disabled]="!form.valid"
          >
            Регистрация
          </button>
          <div class="form-container__info-form">
            На указанную почту было отправлено письмо с подтверждением!
          </div>

          <div class="divider"></div>
          <div class="form-container__register-button">
            <h4>Есть аккаунт?</h4>
            <button mat-button routerLink="../login">
              <h3>Войти</h3>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/illustration.jpg" alt="" />
  </div>
</div>
