.flexbox {
  margin: auto;
  display: flex;
  flex-direction: row;
  min-width: 1366px;
  min-height: 800px;

  .medium-list{
    width: 34.5%;
    height: 800px;
    margin-left: auto;
    background-color: #3770C6;
  }

  .image {
    width: 65.5%;
    align-self: center;
    text-align: center;
  }
}

.list-viewer-wrapper {
  padding: 85px 84px 85px 40px;
  width: 348px;
  margin-left: auto;
  border: none;
  box-shadow: none;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
  }
}

.form-container{
  color: #FFFFFF;

  &__form-container__password-form {
    border: solid 1px  #FFFFFF;
  }

  ::ng-deep .mat-form-field-flex {
    border: solid 1px  #FFFFFF;
    border-radius: 5px;
  }

  &__input {
    height: 32px;
    color: #FFFFFF;
    width: 90%;
    padding-left: 15px;
    margin-top: -8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__info-form {
    display: grid;
    grid-template-columns: 12fr 8fr;

    ::ng-deep .mat-checkbox-label {
      padding-top: 5px;
      margin-left: 10px;
    }
  }

  &__login-button {
    margin-top: 40px;
    color: #3770C6;
    height: 52px;
    background-color: #FFF;
  }

  &__telegram-button{
    height: 52px;
    margin-top: 100px;

    * {
      display: inline;
      padding: 0 10px 0 10px;
    }
  }

  &__register-button {
    padding-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4 {
      margin-left: auto;
      align-self: center;
    }
  }

  .divider {
    height: 0px;
    border: 1px solid #FFFFFF
  }
}

::ng-deep .custom-frame {
  & .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
    width: 20px;
    height: 20px;
    border-color: #FFFFFF;
  }
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-input-element::placeholder {
  color: #FFFFFF;
}

::ng-deep .mat-button-ripple.mat-ripple, .mat-button-focus-overlay, .mat-button-ripple-element {
  display: none;
}

::ng-deep .hide-icon {
  font-size: 24px !important;
  margin-bottom: 22px;
  margin-left: -20px;
}

::ng-deep .mat-checkbox-checkmark {
  display: none;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: radial-gradient(#ffffff 40%, rgb(145 152 229 / 0) 50%);
}

::ng-deep .mat-form-field-label {
  color: #FFFFFF !important;
  margin-left: 15px;
  padding: 0 5px 0 5px;
  background-color: #3770C6 !important;
  width: fit-content !important;
  z-index: 99;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336 !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.5125em) scale(0.75) perspective(100px) translateZ(0.001px);
 
}
